#theBox {
  height: 250px;
  width: 250px;
  background-color: #ddd;
  border: 1px solid #000;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 150%;
  font-weight: bold;
  transform: rotate(-45deg);
}

#theBox:hover {
  -webkit-transform: translate(75px, 100px);
  transform: translate(75px, 100px);
}
